body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    font-family: Arial, sans-serif;
}

#plotCanvas {
    margin: 20px;
    width: 700px;
    height: 500px;
    border: 2px solid #333; /* Black border */
    padding: 10px;          /* Space between canvas and border */
    background-color: #f9f9f9; /* Light gray background for contrast */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add a subtle shadow */
    border-radius: 8px;    /* Rounded corners */
}

.input_ {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}

.options {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 20px;
}

.small-textbox {
    width: 25px;
}

#volumedisplay {
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
    color: #333;
    background-color: #c5d3c3; /* Light yellow background */
    border: 2px solid #6ad18c; /* Gold border */
    padding: 10px 20px; 
    border-radius: 8px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); 
    text-align: center; 
    display: inline-block; 
}

#volume {
    color: #0078d7; /* Distinct color for the value */
    font-size: 22px;
}

